<%- include("partials/header") %>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="title w-100 p-3"">
    <label for="">Title</label>
    <input type="text" name="postTitle" value="" >
  </div>
  <label for="">Post</label>
    <div class="Post w-auto">
    <textarea name="postBody" cols="40" rows="5"></textarea>
  </div>
  <button type="submit" name="button" class="btn btn-primary"> Publish</button>
</form>

<%- include("partials/footer") %>
